<phpunit
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuites>
        <testsuite name="azay">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>